@font-face {
    font-family: "OpenSans_Medium";
    src: url(./fonts/Open-Sans/OpenSans-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "OpenSans_Bold";
    src: url(./fonts/Open-Sans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Aller_Bd";
    src: url(./fonts/Aller-Display/Aller_Bd.ttf) format("truetype");
}

@font-face {
    font-family: "SimHei";
    src: url(./fonts/SimHei/simhei.ttf) format("truetype");
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: auto;
    position: relative;
}

header {
    background-color: rgba(86, 176, 244, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    height: 70%;
}

.logo-container {
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: relative;   
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.header-links-container {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 45px;
}

.header-links-container p a {
    color: #ffffff;
    font-family: "OpenSans_Medium";
    cursor: pointer;
    text-decoration: none;
    transition: font-family 0.3s ease;
}

.header-links-container p a:hover {
    font-family: "OpenSans_Bold";
}


.enroll-container button {
    background-color: #ff3e3e;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-family: "Aller_Bd";
    color: #ffffff;
    font-size:17px;
    cursor: pointer;
}

.enroll-container button:hover {
    background-color: #e43737;
}

.home-pic-container {
    display: flex;    
    width: 100%;
    height: 579.64px;
    z-index: 0;
    position: relative;
    justify-content: center;
    align-items: center; 
    margin-top: -10px;       
}

.home-pic-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home-pic-text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;    
    width: 650px;
    height: 150px;
    border-radius: 10px;    
}

.home-p-titulo {
    font-family: "Aller_Bd";
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.home-p-subtitulo {
    font-family: "OpenSans_Medium";
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#motivos-container {
    width: 85%;
    height: auto;
    background-color: rgba(255, 62, 62, 0.9);
    position: relative;
    z-index: 1;
    margin-top: -60px;
    background-image: url(./assets/cPkDS.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    border-radius: 15px;
}

#motivos-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(255, 62, 62, 0.8);
    border-radius: 15px;
}

.motivos-itens-container {
    position: relative;
    margin: 40px;
    margin-left: 60px;
    z-index: 1;
    margin-bottom: 10px;

}

.motivos-itens-container p {
    font-family: "Aller_Bd";
    color: #ffffff;
    margin: 1px;
    font-size: 36px;
}

.motivos-card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;    
}

.motivo-card {    
    position: relative;
    border-radius: 10px;
    width: 350px;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.motivo-titulo {
    font-family: "Aller_Bd";
    font-weight: bold;
    color: #ffffff;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

.motivo-texto p {
    font-family: "OpenSans_Medium";
    color: #ffffff;
    font-size: 14px;
    line-height: 2.5;
    margin: 0;
}

.motivo-number {
    color: #ffffff;
    font-family: "Aller_Bd";
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.vertical-line {
    width: 1px;
    height: 350px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    z-index: 1;
}

#depoimentos-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: auto;
}

.depoimentos-container-p {
    font-family: "Aller_Bd";
    color: #56b0f4;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 55px;   
    margin-right: 55px; 
}

.depoimentos-alunos-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 91%;
    height: auto;
    margin-right: 55px; 
    margin-left: 55px;
    gap: 90px;
}

.depoimento-aluno {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: auto;
}

.aluno-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid #ffffff 8px;
    background-color: brown;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aluno-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
}

.depoimento-texto-container {
    width: 100%;
    height: auto;
    background-color: rgb(48, 100, 139);
    position: relative;
    z-index: 0;
    margin-top: -160px;
    padding-top: 160px;
    text-align: center;
}

.depoimento-nomes p {
    display: flex;
    color: #ffffff;
    font-family: "OpenSans_Bold";
    font-size: 25px;
    margin: 0;
    margin-top: 30px;
    justify-content: center;
}

.depoimento-aluno-textos p {
    display: flex;
    color: #dddddd;
    font-family: "OpenSans_Medium";
    font-size: 14px;
    margin-left: 30px ;
    margin-right: 30px;
    line-height: 2;
}

#cursos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(255, 62, 62, 0.9);
    position: relative;
    z-index: 1;
    background-image: url(./assets/foto\ AD.jpg);
    background-size: cover;
    background-position: center;
}

#cursos-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(255, 62, 62, 0.8);
}

.cursos-container-p {
    font-family: "Aller_Bd";
    color: #ffffff;
    font-size: 36px;
    position: relative;
    width: 78%;
    z-index: 1;
}

.cursos-cards-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 78%;
    height: auto;
    z-index: 1;
    gap: 70px;
    margin-bottom: 36px;
}

.curso-regular-container {
    background-color: #ffffff;
    width: 350px;
    height: auto;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curso-hsk-container {
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
}

.curso-business-container {
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    flex-direction: column;    
    justify-content: center;
    align-items: center;   
}

.icon-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curso-icon {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}

.curso-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.curso-titulo p {
    font-family: "OpenSans_Bold";
    color: #56b0f4;    
    font-size: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.descrição-itens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curso-descrição {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.curso-descrição p {
    font-family: "OpenSans_Medium";
    font-size: 14px;
    color: #000;
    text-align: center;
    margin: 0;
    width: 80%;
}

.curso-itens {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.curso-itens p {
    font-family: "OpenSans_Bold";
    font-size: 18px;
    color: #ff3e3e;
    margin-top: 20px;
    text-align: justify;    
}

.curso-itens ul{
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color: #000;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.curso-itens li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.curso-itens-hr {
    justify-content: center;
    align-items: center;
}

#como-funciona-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.como-funciona-container-p {
    font-family: "Aller_Bd";
    color: #ff3e3e;
    font-size: 36px;
    align-self: start;
    margin-left: 170px;
}

.como-funciona-conteudo {
    display: flex;
    flex-direction: row;
    width: 78%;
    height: 500px;
}

.como-funciona-desenho {
    width: 450px;
    height: 450px;
    overflow: hidden;
}

.como-funciona-desenho img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.como-funciona-texto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 700px;
    padding-left: 80px;
}

.como-funciona-titulo {
    display: flex;    
    align-items: center;
    justify-content: center;
}

.como-funciona-titulo p {
    color: #56b0f4;
    margin: 0;
    font-family: "OpenSans_Bold";
    font-size: 28px;
} 


.como-funciona-texto p {    
    font-family: "OpenSans_Medium";
    font-size: 18px;
    text-align: center;
    color: #000;
    line-height: 2.0;
    margin-left: 70px;
    margin-right: 70px;
}

.como-funciona-texto-container hr {
    width: 500px;
    height: 1px;
    background-color: #ff3e3e;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

#material-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(86, 176, 244, 0.9);
    position: relative;
    z-index: 1;
    background-image: url(./assets/material.jpg);
    background-size: cover;
    background-position: center;
}

#material-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(86, 176, 244, 0.8);
}

.material-container-p {
    font-family: "Aller_Bd";
    color: #ffffff;
    font-size: 36px;
    align-self: start;
    margin-left: 170px;
    position: relative;
    z-index: 1;
}

.material-objects-container {
    background-color: #ffffff;
    width: 78%;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    gap: 85px;
    margin-bottom: 43px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.material-book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.material-book-icon {
    width: 100px;
    height: 156px;
    overflow: hidden;
}

.material-book-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-color: #000;
    border: 5px;
}

.material-sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.material-pencil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.book-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-titulo p {
    font-family: "OpenSans_Bold";
    color: #56b0f4;    
    font-size: 28px;
    margin: 25px 0 5px 0;
}

.book-texto {
    display: flex;
    justify-content: center;
}

.book-texto p {
    font-family: "OpenSans_Medium";
    font-size: 14px;
    color: #000;
    text-align: center;
    margin: 0;
    width: 80%;
    
}

#preços-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.preços-container-p {
    font-family: "Aller_Bd";
    color: #56b0f4;
    font-size: 36px;
    align-self: start;
    margin-left: 170px;
}

.preços-cards-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 78%;
    height: auto;
    gap: 70px;
    margin-bottom: 36px;
}

.preço-once-card {
    background-color: #ffffff;
    width: 350px;
    height: auto;
    border: 2px solid rgb(48, 100, 139);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preço-once-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(48, 100, 139);
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
    padding: 40px 0 40px 0;
}

.preço-once-top-container p {
    font-family: "OpenSans_Medium";
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    width: 100%;
}

.preço {
    font-family: "Aller_Bd";
    font-size: 56px;
}

.preço-once-descrição {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preço-once-descrição p{
    font-family: "OpenSans_Bold";
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.preço-once-subtitulo {    
    margin-top: 40px;
    margin-bottom: 0px;
}

.preço-once-subtitulo p {
    font-family: "OpenSans_Bold";
    font-size: 18px;
    color: #ff3e3e;
    text-align: center;
    margin: 0;
}

.preço-once-subtitulo hr {
    height: 2px;
    background-color: #ff3e3e;
    border: none;
    border-radius: 10px;
}

.preço-once-itens {
    font-family: "OpenSans_Medium";
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.preço-once-itens ul {
    list-style-type: none;
    padding: 0;

}

.preço-once-itens li {
    margin-bottom: 10px;
}


.preço-matricula {
    background-color: #ff3e3e;
    width: 180px;
    height: 55px;
    border-radius: 15px;
    border: none;
    font-family: "Aller_Bd";
    color: #ffffff;
    font-size:18px;
    cursor: pointer;
    margin-bottom: 40px;
}

.preço-matricula:hover {
    background-color: #e43737;
}

#pagamento-container {
    width: 85%;
    height: auto;
    flex-direction: column;
    background-color: rgba(255, 62, 62, 0.9);
    position: relative;
    z-index: 1;
    background-image: url(./assets/pagamentos.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

#pagamento-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: rgba(255, 62, 62, 0.8);
    border-radius: 15px;
}

.pagamento-titulo-container p {
    font-family: "Aller_Bd";
    color: #ffffff;
    font-size: 36px;
    position: relative;
    z-index: 1;
    margin: 36px 60px 36px 60px;
}

.pagamento-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
}

.pagamento-texto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 500px;
    height: auto;
    padding-right: 150px;
}

.pagamento-titulo p {
    font-family: "Aller_Bd";
    color: #ffffff;
    font-size: 36px;
    position: relative;
    z-index: 1;
    margin: 0;
    align-items: center;

}

.pagamento-texto p {
    font-family: "OpenSans_Medium";
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 2.0;
}

.pagamento-imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 285px;
    height:390px;
    overflow: hidden;
}

.pagamento-imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagamento-hr {
    width: 500px;
    height: 3px;    
    background-color:#56b0f4;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
}

#frases-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.frases-container-p {
    font-family: "Aller_Bd";
    color: #ff3e3e;
    font-size: 36px;
    align-self: start;
    margin-left: 170px;
}

.frases-conteudo {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 350px;
    height: auto;
    gap: 30px;
    margin-bottom: 5%;
}

.frase-desenho-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    width: 85%;
    padding-left: 120px;
    gap: 80px;
}

.frase-chines-container {
    display: flex;
    flex-direction: column;
}

.frase-chines-container p {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.frase-chines p {
    font-family: "SimHei";
    font-size: 38px;
    font-weight: bold;
    color:#ff3e3e;
}

.frase-pinyin p {
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color:#56b0f4;
}

.frase-pt p {
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color: #000;
    
}

.desenho-container {
    display: flex;
    width: 160px;
    height:600px;
    overflow: hidden;
    margin-left: 80px;
}

footer {
    display: flex;
    background-color: rgb(48, 100, 139);
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    gap: 190px;
}

.aboutme-containers {
    display: flex;
    width: 430px;
    height: auto;
    flex-direction: column;
    margin-top: 90px;
}

.aboutme-title-p {
    font-family: "Aller_Bd";
    font-size: 38px;
    font-weight: bold;
    color:#56b0f4; 
    margin-top: 20PX;
    height: 100px;
}

.aboutme-avatar {
    width: 100px;
    height: 130px;
    border-radius: 20px;
    border: solid #ffffff 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
}

.avatar-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.avatar-name {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 20px;
}

.avatar-name p {
    font-family: "OpenSans_Bold";
    font-size: 20px;
    color:#ffffff;  
    margin: 0;
}

.my-name p {
    font-family: "Aller_Bd";
    font-size: 30px;
    color:#ffffff;
    margin: 0;
}

.my-quote-container p{
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color:#ffffff;  
    margin-right: 30px;
    text-align:justify;
    margin-bottom: 30px;
}

.section-containers {
    display: flex;
    width: 200px;
    height: auto;
    flex-direction: column;
    margin-top: 90px;
}

.section-items ul {
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color:#ffffff;
    text-align:justify;
    margin-left: 0;
    padding-left: 0;
    margin-top: 35px;
    margin-bottom: 0;
}

.section-items li {
    margin-bottom: 20px;
    padding-left: 0;
    list-style-position: inside;
}

.section-li a {
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color:#ffffff;
    text-decoration: none;
    transition: font-family 0.3s ease;
}

.section-li a:hover {
    font-family: "OpenSans_Bold";
}

.media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}

.media-icon {
    width: 45px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.media-icon img {
    width: 100%;
    height: 100%;    
}

.media-link a {
    font-family: "OpenSans_Bold";
    font-size: 20px;
    color:#ffffff;  
    margin: 0;
    text-decoration: none;
}

.social-media-title {
    margin-bottom: 45px;
}

.copyright p {
    font-family: "OpenSans_Medium";
    font-size: 16px;
    color:#ffffff;
}

#contato-container {
    display: flex;
    width: 85%;
    height: 150px;
    background-color: rgb(37, 211, 102);
    flex-direction: row;    
    align-items: center;
    border-radius: 15px;
    gap: 60px;
}

.contato-texto-container {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-left: 40px;
}

.contato-texto-grande p {
    display: flex;
    font-family: "Aller_Bd";
    font-size: 40px;
    color:#ffffff;
    margin: 0;
}

.contato-texto-pequeno p {
    display: flex;
    font-family: "Aller_Bd";
    font-size: 25px;
    color:#ffffff;
    margin: 0;
}

.contato-whats-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-left: 20px;
}

.whats-icon-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whats-icon-container img {
    width: 100%;
    height: 100%;
}

.whats-numero p {
    font-family: "Aller_Bd";
    font-size: 55px;
    color:#ffffff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .header-container {
        justify-content: center;
    }

    .header-links-container {
        display: none;
    }

    .enroll-container {
        display: none;
    }

    .home-pic-container {
        width: 100%;
        background-image: url(./assets/home-pic\ \(mobile\).jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }

    .home-pic-container img {
        display: none;
    }

    .home-pic-text-container {
        width: 100%;
        margin-bottom: 40px;
    }

    .home-text-box hr {
        display: none;
    }

    .home-p-subtitulo {
        display: none;
    } 

    .motivos-card-container {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 30px;
    }

    .motivos-card-container hr {
        display: none;
    }

    .motivos-itens-container {
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .motivos-itens-container p {
        width: 175px;
        margin-left: 10px;
    }

    .motivo-card {
        width: 279px;
    }

    .motivo-number {
        display: none;
    }

    .motivo-titulo {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .motivo-texto {
        width: 279px;
        text-align: justify;
    }

    .depoimentos-container {
        display: none;
    }

    .depoimentos-container-p {
        display: none;
    }

    .depoimentos-alunos-container {
        display: none;
    }
    
    .pre-cursos-br {
        display: none;
    }

    #cursos-container {
        width: 100%;
        flex-direction: column;
    }

    .cursos-container-p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cursos-container-p p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cursos-cards-container {
        flex-direction: column;
        width: 80%;
        gap: 36px;
    }

    .curso-regular-container {
        width: 100%;
    }

    .curso-icon {
        margin-top: 20px;
    }

    .curso-itens {
        margin-top: 0;
    }

    .curso-hsk-container {
        flex-direction: column;
        width: 100%;
    }

    .curso-business-container {
        flex-direction: column;
        width: 100%;
        margin-top: 120px;
    }

    #cursos-container::before {
        height: 1750px;
    }

    .como-funciona-desenho {
        display: none;        
    }

    .como-funciona-conteudo {
        flex-direction: column;
        height: auto;
    }

    .como-funciona-container-p {
        margin: 0;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .como-funciona-container-p p {
        text-align: center;
        margin: 0;
    }

    .como-funciona-texto-container {
        padding: 0;
        width: 100%;
    }

    .como-funciona-texto p {
        margin: 0;        
    }

    .como-funciona-texto-container hr {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
    }

    .material-container {
        flex-direction: column;
    }

    .material-container-p {
        margin: 0;
        width: 100%;
    }

    .material-container-p p {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .material-objects-container {
        flex-direction: column;
        height: auto;
        gap: 50px;       
    }

    .preços-container {
        flex-direction: column;
    }

    .preços-container-p {
        margin-left: 0;
        align-self: center;
    }

    .preços-container-p p {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .preços-cards-container {
        flex-direction: column;
        width: 75%;
    }

    .preço-once-card {
        width: 100%;
    }

    .preço-once-top-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .preço-once-subtitulo {
        margin-top: 30px;
    }

    .preço-matricula {
        margin-bottom: 20px;
    }

    #pagamento-container {
        flex-direction: column;
        height: auto;
    }

    .pagamento-items-container {
        flex-direction: column;
    }

    .pagamento-texto-container {
        padding-right: 0;
        width: 80%;
        margin-bottom: 0;
    }

    .pagamento-titulo {
        text-align: center;        
    }

    .pagamento-titulo p {
        font-size: 28px;
        line-height: 1.5;
    }

    .pagamento-hr {
        width: 90%;
    }


    .pagamento-items-container {
        margin-bottom: 0;
    }


    .pagamento-items-container img {
        width: 80%;
        height: 80%;        
    }

    #frases-container {
        flex-direction: column;
        height: auto;
        width: 80%;

    }

    .frases-container-p {
        margin: 0;
    }

    .frases-container-p p {
        margin: 0;
        font-size: 32px;
        text-align: center;
        margin-bottom: 35px;
    }

    .frase-desenho-container {
        flex-direction: column;
        padding-left: 0;
        width: 100%;
        gap: 20px;
    }

    .desenho-container {
        display: none;
    }

    .frases-conteudo {
        width: 100%;
    }

    .frase-chines p {
        font-size: 32px;
    }

    #contato-container {
        flex-direction: column;
        margin: 0;
        height: auto;
        gap: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 50px;
    }

    .contato-texto-container {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }

    .contato-texto-grande p {
        font-size: 22px;
        text-align: center;
    }

    .contato-texto-pequeno p {
        font-size: 16px;
        padding-left: 18px;
        padding-right: 18px;
        text-align: center;
    }

    .whats-numero {
        justify-content: center;
        align-items: center;
    }

    .whats-numero p {
        font-size: 22px;
        margin-top: 19px;
        margin-left: 0;
    }

    .whats-icon-container img {
        width: 60%;
        height: 60%;
    }

    .contato-whats-container {
        margin-left: 0;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        margin-top: 80px;
        align-items: center;
    }

    .my-name {
        height: auto;
    }

    .my-name p {
        display: none;
    }

    .my-name ul {
        display: none;
    }

    .aboutme-avatar {
        display: none;
    }

    .aboutme-avatar img {
        display: none;
    }

    .avatar-info-container {
        display: none;
    }

    .aboutme-containers {
        margin-top: 0;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .my-quote-container {
        width: 80%;
        height: auto;
    }

    .my-quote-container p {
        margin-right: 0;
        font-size: 12px;
        margin-bottom: 0;
    }

    .section-containers {
        margin-top: 0;
        width: 80%;
        height: auto;
    }

    .section-items {
        height: auto;
    }

    .section-items br {
        display: none;
    }

    .media-container {
        margin-bottom: 0;
        margin-top: 15px;
    }

    .media-icon img {
        width: 80%;
        height: 80%;
    }

    .media-link a {
        width: 80%;
        height: 80%;
    }

    .email-me {
        display: none;
    }

    .email-me-img {
        display: none;
    }

    .social-media-title {
        display: none;
    }

    .copyright {
        display: none;
    }
}